body {
    text-align:center;
    font-family:"microsoft yahei";
}
#installbox {
    background-color:white;
    border:2px solid #f60;
    margin:0 auto;
    width:800px;
    text-align:left;
    margin-top:2em;
}
#installbox_i {
    background-color:white;
    width:780px;

    text-align:left;
    margin-top:2em
}
.msgtitle {
    padding:3px 3px;
    color:white;
    font-weight:bold;
    line-height:21px;
    height:25px;
    font-size:12px;
    border-bottom:1px solid #f60;
    text-indent:3px;
    background:url(../images/top_bg.gif) repeat-x #f60;
}
#msgbody {
    font-size:12px;
    line-height:25px;
}
#msgbottom {
    text-align:center;
    height:30px;
    line-height:30px;
    font-size:12px;
    background-color:#f60;
    color:#FFFFFF
}
label {
    cursor:pointer;
    height:15px;
    line-height:15px;
    width:80px;
}
label:hover {
    background-color:#f5f5f5
}
h3 {
    border-bottom:1px solid #f4914e;
    padding:5px 10px;
    color:#333
}
input {
    border-width:0;
}
textarea, input {
    padding:2px 0 2px 5px;
    border:1px solid #b4b4b4;
    background:#fbfbfb;
    font-family:"microsoft yahei";
    color:#333;
    border-radius: 3px;
    line-height: 16px;
    height: 25px;
}
textarea, input:focus {
    border: 1px solid #09C;
    box-shadow: 0 0 3px #09C;
}
.btn {
    display: inline-block;
    zoom: 1;
    padding: 0px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #BBB;
    overflow: visible;
    font: bold 12px 微软雅黑, arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;
    background-color: #DDD;
    background-image: linear-gradient(top, rgba(255,255,255,1),
    rgba(255,255,255,0)),
    url(data:image/png;base64,iVBORw0KGg[...]QmCC);
    transition: background-color .2s ease-out;
    background-clip: padding-box;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3),
    0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    height: 30px;
}
.intable{
    text-align:center;
    font-weight:bold;
    font-size:12pt;
    background:url('../images/set01_top_nav.gif');
    margin:10px 0 0 10px;
}
.intable2{
    text-align:center;
    font-weight:bold;
    font-size:12pt;
    background:url(../images/set02_top_nav.gif);
    margin:10px 0 0 10px;
}
.intable3{
    text-align:center;
    font-weight:bold;
    font-size:12pt;
    background:url(../images/set03_top_nav.gif);
    margin:10px 0 0 10px;
}
.intable4{
    text-align:center;
    font-weight:bold;
    font-size:12pt;
    background:url(../images/set04_top_nav.gif);
    margin:10px 0 0 10px;
}