.everbuy{
    > ul > li{
        border-top: 1px solid #DADADA;
        margin-top: 50px;
    }
}
.everbuy-time{
    position: absolute;
    margin-top: -37px;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid white;
    padding-left: 12px;
}
