.storestreet{
    ul{
        overflow: hidden;
        margin-bottom: 40px;
        li{
            float: left;
            width: 460px;
            border: 1px solid #e2e2e2;
            margin-right: 22px;
        }
        .mar0{
            margin-right: 0;
        }
    }
}
.deoe{
    a{
        display: block;
    }
    .gejr{
        width: 460px;
        height: 186px;
    }
    .logoansome{
        padding: 0 10px;
        overflow: hidden;
        .neleu{
            float: left;
            padding-left: 10px;
            img{
                width: 129px;
                height: 57px;
            }
        }
        .inetrjol{
            width: 280px;
            padding-left: 20px;
            float: left;
            line-height: 31px;
            p{
                color: #666666;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .names{
                font-size: 16px;
                color: #333333;
            }
        }
    }
}
.sixshop-box{
    ul{
        overflow: hidden;
        li{
            float: left;
            width: 210px;
            border: 1px solid #e2e2e2;
            padding: 10px;
            margin-left: 6px;
        }
        .mar0{
            margin-right: 0;
        }
    }
    .shde{
        a{
            display: block;
        }
        .sjhe{
            width: 210px;
            height: 210px;
        }
        .box-hotshui{
            .shop_name{
                margin-left: 0;
            }
            .shop_name2{
                margin-top: 6px;
                .co_hchh{
                    color: #e23435;
                }
            }
        }
        .chejancns{
            margin-top: 6px;
            color: #666666;
        }
        .co_blue{
            color: #0070b0;
        }
    }
}
