<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="Shortcut Icon" href="{G_WEB_PATH}/favicon.ico">
{wc:fun:seo()}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/index.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Comm.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/color.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/css.css"/>
<!--link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/MyCart.css"/-->
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/163style.css">
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/163cssdq.css">
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/inside_header_style.css">

{wc:fun:css()}
<script type="text/javascript" src="{G_GLOBAL_STYLE}/global/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_JS}/cloud-zoom.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_JS}/jquery.cookie.js"></script>
<script type="text/javascript" src="{G_PLUGIN_PATH}/layer/layer.min.js"></script>
{wc:fun:js()}
{wc:fun:GetConfiga('verify')}

{wc:fun:css("user.message")}
{wc:fun:css("lottery.warp")}
{wc:fun:css("lottery.skin")}
{wc:fun:css("lottery")}
{wc:fun:js("layer")}
<style>
.black_overlay{
display: none;
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1003;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}
.white_content {
display: none;
position: absolute;
top: 3%;
left: 480px;
width: 610px;
height: 98%;
border: 8px solid gray;
background-color: #333;
z-index:2000;
overflow: auto;
}

</style>
<script src="{G_GLOBAL_STYLE}/global/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<div class="clear"></div>
<!--商品 wrap 开始-->
<div class="layout980 clearfix">
    <div class="game">
    <div class="game-main" style="margin-left:180px;margin-top:10px;">
     <div class="warp lotteryHistory" style="margin-top: 10px;">
        <div class="lotteryHistoryBody"></div>
        <div class="line">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>期号</th>
                    <th>开奖号码</th>
                    <th>后台设置中奖号码</th>
                    <th>本期开始时间</th>
                    <th>本期结束时间</th>
                    <th>当前状态</th>
                </tr>
            </thead>
            <tbody id="order-history">
               {wc:loop $lottery_lists $v}
                    {wc:if $v['status']==2}
                    <tr>
                        <td>{wc:$v['stage_no']}</td>
                        <td>{wc:$v['lottery_number']}</td>
                        <td>{wc:$v['setting_number']}</td>
                        <td>{wc:$v['begin_time']}</td>
                        <td>{wc:$v['end_time']}</td>
                     　 <td>已开奖</td>
                    </tr>
                    {wc:else}
                    <tr>
                        <td>{wc:$v['stage_no']}</td>
                        <td>{wc:$v['lottery_number']}</td>
                        <td><input type="text" id="setting_number" name="setting_number" value="{wc:$v['setting_number']}"><button id="submit">修改中奖号码</button></td>
                        <td>{wc:$v['begin_time']}</td>
                        <td>{wc:$v['end_time']}</td>
                     　 <td>开奖中</td>
                    </tr>
                    {wc:if:end}
               {wc:loop:end}
            </tbody>
        </table>
       </div>
       </div>
       </div>
    </div>
</div>

<!--商品 wrap 结束-->
<div class="clear"></div>
<script type="text/javascript">
   $("#submit").click(function(){
        var number = parseInt($("#setting_number").val());
        if(!number || number < 0 || number > 9){
            layer.alert("请输入0-9之间的数字!");
            return false;
        }

        $.ajax({
            url:"/?/iinsist/lottery/modify_lottery_no",
            type:"post",
            dataType:"json",
            data:{number: number},
            success:function(data){
                $("#setting_number").val(data.number);
                layer.alert("设置成功!");
            },
            error:function(data){
                $("#setting_number").val(-1);
                layer.alert("设置失败!");
            }
        });
   });
</script>
</body>
</html>